[submodule "resources/depthai_boards"]
	path = resources/depthai_boards
	url = https://github.com/luxonis/depthai-boards

[submodule "depthai-boards"]
	path = depthai-boards
	url = https://github.com/luxonis/depthai-boards
[submodule "calibration_coms"]
	path = calibration_coms
	url = git@github.com:luxonis/calibtaion_coms.git
