numpy==1.19.5
opencv-python==4.5.1.48
requests==2.24.0
argcomplete==1.12.1
pyyaml==5.3.1
--extra-index-url https://artifacts.luxonis.com/artifactory/luxonis-python-snapshot-local/
depthai==0.0.2.1+5cd4297f35cd44744886b6cf52c7413bbb4bc8c3
