include src/depthai_sdk/classes/*.py
recursive-include src/depthai_sdk/components *.py
recursive-include src/depthai_sdk/integrations *.py
recursive-include src/depthai_sdk/trigger_action *.py
include src/depthai_sdk/managers/*.py

recursive-include src/depthai_sdk/nn_models handler.py
recursive-include src/depthai_sdk/nn_models *.yml
recursive-include src/depthai_sdk/nn_models config.json

include src/depthai_sdk/oak_outputs/*.py
include src/depthai_sdk/oak_outputs/xout/*.py
include src/depthai_sdk/readers/*.py
recursive-include src/depthai_sdk/recorders *.py
include src/depthai_sdk/tracking/*.py
recursive-include src/depthai_sdk/visualize/ *.py
include requirements.txt
include src/depthai_sdk/logger.py
