depthai==2.17.0.0
depthai-sdk==1.2.4 # New SDK has Record module completely refactored. TODO port this app to new SDK
numpy==1.26.4
av==9.2.0
mcap==0.0.10
mcap-ros1-support==0.0.8
rosbags==0.9.11
--extra-index-url https://rospypi.github.io/simple/
sensor_msgs
geometry_msgs
genpy