/* Additional styles or overrides */

h5 {
    margin-bottom: 5%;
}

.items-row {
    display: flex;
    margin-bottom: 5%;
}

video {
    max-width: 100%;
}

.items-col {
    width: 50%
}

.item {
    height: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item .item-img-wrapper {
    height: 200px;
    margin-bottom: 10px;
    text-align: center;
}

.item .item-img-wrapper .item-img {
    max-height: 100%;
    max-width: 100%;
}

.item .item-body {
    flex-grow: 5;
}

.item .item-cta {
    width: 100%;
}

.cta-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cta-row .cta-box {
    width: 33%;
    margin: 0 5px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
}

.cta-row .cta-box img {
    width:  24px;
    height: 24px;
    margin-right: 10px;
}

.cta-row .cta-box a {
    display: flex;
}

@media (max-width: 1000px) {
    .cta-row {
        flex-direction: column;
        align-items: center;
    }
    .cta-row .cta-box {
        margin: 5px 0;
        width: 250px;
    }
}

@media (min-width: 600px) and (max-width: 1000px) {
    .item .item-img-wrapper {
        height: 150px;
    }
}

@media (min-width: 400px) and (max-width: 600px) {
    .item .item-img-wrapper {
        height: 100px;
    }
}

@media (max-width: 400px) {
    .item .item-img-wrapper {
        height: 50px;
    }
}

.wy-side-nav-search {
    background-color: #004d80;
}

.cta-row-short h5 {
    margin-bottom: 0;
}

