Sphinx==3.4.3
sphinx-tabs==1.3.0
sphinx-rtd-theme==0.5.2
git+https://github.com/VanDavv/rtd-redirects.git@3e7333898acad533b37c9de426f1f2ef258d756b
breathe==4.26.0
Sphinx-Substitution-Extensions==2020.9.30.0
sphinx-autopackagesummary==1.3
autodocsumm==0.2.2
pathlib==1.0.1
jinja2==3.0.3