name: DepthAI Demo CI/CD

on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - 'v*'
      - '!v*-sdk'
  pull_request:
    branches:
      - main

jobs:
  release:
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ['self-hosted', 'win-signing-runner']
    steps:
    - name: Sign Windows Launcher
      run: |
         "C:\Program Files (x86)\Windows Kits\10\bin\10.0.26100.0\x86\signtool.exe" sign /f "C:\luxonis.cer" /csp "eToken Base Cryptographic Provider" /k "[{{${{ secrets.SECTIGO_CERT_PASSWORD }}}}]=Sectigo_20241111150706" /tr http://timestamp.sectigo.com /td sha256 /fd sha256 /n "Luxonis Holding Corporation" "C:\Users\Administrator\Downloads\DepthAI-setup-v3.1.2.exe"
